In [2]:
# (i) String
my_string = "Hello, Data Science Masters 2.0"

# (ii) List
my_list = [1, 2, 3, 4, 5]

# (iii) Float
my_float = 3.14159

# (iv) Tuple
my_tuple = (10, 20, 30, 40, 50)

In [3]:
my_string

'Hello, Data Science Masters 2.0'

In [10]:
#(i) var1 is a string variable containing a single space character.

#(ii) var2 is a string variable containing a string that appears to be formatted as a list, but it's actually a string with square brackets.

#(iii) var3 is a list variable containing strings 'DS', 'ML', and 'Python'.

#(iv) var4 is an integer variable containing the value 1.

In [6]:
#(i) / (Division Operator):

#The / operator is used for division, and it performs floating-point division.
#It divides the left operand by the right operand and returns a floating-point result.
result = 10 / 3
print(result)

3.3333333333333335

In [7]:
#(ii) % (Modulus Operator):The % operator is used for finding the remainder of the division of the left operand by the right operand.
remainder = 10 % 3
print(remainder)

1

In [8]:
#The // operator is used for floor division, which performs division and rounds down the result to the nearest integer.
result = 10 // 3
print(result)

3

In [9]:
#The ** operator is used for exponentiation, which raises the left operand to the power of the right operand.
result = 2 ** 3
print(result)

8

In [11]:
my_list = [1, "Hello", 3.14, [1, 2, 3], ("apple", "banana"), True, None, {'name': 'John', 'age': 30}, 4 + 2j, 45.67]

for element in my_list:
    print(f"Element: {element}, Data Type: {type(element)}")

Element: 1, Data Type: <class 'int'>
Element: Hello, Data Type: <class 'str'>
Element: 3.14, Data Type: <class 'float'>
Element: [1, 2, 3], Data Type: <class 'list'>
Element: ('apple', 'banana'), Data Type: <class 'tuple'>
Element: True, Data Type: <class 'bool'>
Element: None, Data Type: <class 'NoneType'>
Element: {'name': 'John', 'age': 30}, Data Type: <class 'dict'>
Element: (4+2j), Data Type: <class 'complex'>
Element: 45.67, Data Type: <class 'float'>

In [12]:
# Input the two numbers A and B
A = int(input("Enter the number A: "))
B = int(input("Enter the number B: "))

count = 0  # Initialize a count variable to keep track of the number of divisions

# Check if B is not equal to 0 to avoid division by zero
if B != 0:
    while A % B == 0:
        A = A // B  # Update A by dividing it by B
        count += 1   # Increment the count

    if count > 0:
        print(f"{A} is purely divisible by {B}, and it can be divided {count} times.")
    else:
        print(f"{A} is not purely divisible by {B}.")
else:
    print("Division by zero is not allowed.")

Enter the number A: 5
Enter the number B: 6
5 is not purely divisible by 6.

In [13]:
# Create a list of 25 integer values
my_list = [5, 12, 9, 15, 8, 27, 6, 10, 21, 30, 17, 18, 24, 33, 7, 4, 36, 11, 14, 22, 19, 3, 16, 20, 25]

# Use a for loop to iterate through the list
for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

5 is not divisible by 3.
12 is divisible by 3.
9 is divisible by 3.
15 is divisible by 3.
8 is not divisible by 3.
27 is divisible by 3.
6 is divisible by 3.
10 is not divisible by 3.
21 is divisible by 3.
30 is divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
24 is divisible by 3.
33 is divisible by 3.
7 is not divisible by 3.
4 is not divisible by 3.
36 is divisible by 3.
11 is not divisible by 3.
14 is not divisible by 3.
22 is not divisible by 3.
19 is not divisible by 3.
3 is divisible by 3.
16 is not divisible by 3.
20 is not divisible by 3.
25 is not divisible by 3.

In [15]:
#Mutable Data Types:Mutable objects are those whose values or contents can be modified after they are created.
#When you modify a mutable object, you are actually changing the object itself, not creating a new one.Examples of mutable data types in Python include lists,
 #dictionaries, and sets.
my_list = [1, 2, 3]
my_list[0] = 4
print(my_list)

[4, 2, 3]

In [17]:
#Immutable objects are those whose values cannot be changed after they are created.
#When you try to modify an immutable object, it creates a new object with the modified value, leaving the original object unchanged.
#Examples of immutable data types in Python include integers, strings, and tuples.
my_string = "Hello"
new_string = my_string + " World"
print(new_string)
print(my_string)

Hello World
Hello